{% extends "farmer/base.html" %}
{% block content %}
<!--<div class="contact py-5">-->
<!--    <div class="container py-xl-5 py-lg-3">-->
<!--        <h3 class="tittle mb-xl-5 mb-4 text-dark text-center">-->
<!--            <span class="text-uppercase">Agro Task</span>Work Request</h3>-->
<!--        <div class="row contact_wthreerow agileits-w3layouts pt-4">-->
<!--            <div class="col-md-12 w3l_contact_form">-->
<!--                <h4 class="font-italic mb-4">Task Master</h4>-->
<!--                {% for task in tasks %}-->
<!--                <div class="row">-->
<!--                    <div class="col-md-2">-->
<!--                        <img src="media/task/{{task.taskid}}1.jpg" class="img-thumbnail"/>-->
<!--                    </div>-->
<!--                    <div class="col-md-2">-->
<!--                        <img src="media/task/{{task.taskid}}2.jpg" class="img-thumbnail"/>-->
<!--                    </div>-->
<!--                    <div class="col-md-6">-->
<!--                        <p>{{ task.task }}</p>-->
<!--                    </div>-->
<!--                    <div class="col-md-2">-->
<!--                        <b>{{ task.lname }}</b>-->
<!--                        <i>Ratings {{ task.total_ratings }}</i>-->
<!--                        <i>{{ task.lmobile }}</i>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row">-->
<!--                    <div class="col-md-2"></div>-->
<!--                    <div class="col-md-2"></div>-->
<!--                    <div class="col-md-6"></div>-->
<!--                    <div class="col-md-1">-->
<!--                        <form method="post">-->
<!--                            {%csrf_token%}-->
<!--                            <input type="hidden" name="id" value="{{task.id}}">-->
<!--                            <button name="accept" class="btn btn-success" type="submit">Accept</button>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                    <div class="col-md-1">-->
<!--                        <form method="post">-->
<!--                            {%csrf_token%}-->
<!--                            <input type="hidden" name="id" value="{{task.id}}">-->
<!--                            <button class="btn btn-danger" type="submit">Reject</button>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <hr>-->
<!--                {% endfor %}-->
<!--            </div>-->
<!--            <div>-->
<!--                <div class="pagination">-->
<!--                    {% if tasks.has_previous %}-->
<!--                    <a class="pagination-action" href="?page=1">-->
<!--                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>-->
<!--                    </a>-->
<!--                    <a class="pagination-action"-->
<!--                       href="?page={{ tasks.previous_page_number }}">-->
<!--                        <i class="fa fa-angle-left" aria-hidden="true"></i>-->
<!--                    </a>-->
<!--                    {% endif %}-->

<!--                    {% for num in tasks.paginator.page_range %}-->

<!--                    {% if tasks.number == num %}-->
<!--                    <span class="pagination-number pagination-current">{{ num }}</span>-->
<!--                    {% elif num > tasks.number|add:'-3' and num < tasks.number|add:'3' %}-->
<!--                    <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>-->
<!--                    {% endif %}-->

<!--                    {% endfor %}-->

<!--                    {% if tasks.has_next %}-->
<!--                    <a class="pagination-action"-->
<!--                       href="?page={{ tasks.next_page_number }}">-->
<!--                        <i class="fa fa-angle-right" aria-hidden="true"></i>-->
<!--                    </a>-->
<!--                    <a class="pagination-action"-->
<!--                       href="?page={{ tasks.paginator.num_pages }}">-->
<!--                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>-->
<!--                    </a>-->
<!--                    {% endif %}-->


<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--</div>-->




	<section class="h-100 bg-dark">
		<div class="container py-5 h-100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col">
					<div class="card card-registration my-4">
                        <div class="container py-5 h-100" >
                            <img src="static/images/workreq.png" height="100" class="rounded mx-auto d-block" alt="...">
                        </div>
                                <div class="row justify-content-center">
                                    <h1>Work Requests</h1>
                                </div>
                        <hr style="width:100%;text-align:left;margin-left:0">
                        <div class="container">


                        <div class="container py-5 h-100" >

                                {% for task in tasks %}
                                <div class="row">
                                    <div class="col-md-2">
                                        <img src="media/task/{{task.taskid}}1.jpg" class="img-thumbnail"/>
                                    </div>
                                    <div class="col-md-2">
                                        <img src="media/task/{{task.taskid}}2.jpg" class="img-thumbnail"/>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ task.task }}</p>
                                    </div>
                                    <div class="col-md-2">
                                        <b>{{ task.lname }}</b>
                                        <i>Ratings {{ task.total_ratings }}</i>
                                        <i>{{ task.lmobile }}</i>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-6"></div>
                                    <div class="col-md-1">
                                        <form method="post">
                                            {%csrf_token%}
                                            <input type="hidden" name="id" value="{{task.id}}">
                                            <button name="accept" class="btn btn-success" type="submit">Accept</button>
                                        </form>
                                    </div>
                                    <div class="col-md-1">
                                        <form method="post">
                                            {%csrf_token%}
                                            <input type="hidden" name="id" value="{{task.id}}">
                                            <button class="btn btn-danger" type="submit">Reject</button>
                                        </form>
                                    </div>
                                </div>
                                <hr>
                            {% endfor %}
                        </div>
                            <div class="container py-5 h-100" >
                                <div class="pagination">
                                    {% if tasks.has_previous %}
                                    <a class="pagination-action" href="?page=1">
                                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                    </a>
                                    <a class="pagination-action"
                                       href="?page={{ tasks.previous_page_number }}">
                                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                                    </a>
                                    {% endif %}

                                    {% for num in tasks.paginator.page_range %}

                                    {% if tasks.number == num %}
                                    <span class="pagination-number pagination-current">{{ num }}</span>
                                    {% elif num > tasks.number|add:'-3' and num < tasks.number|add:'3' %}
                                    <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
                                    {% endif %}

                                    {% endfor %}

                                    {% if tasks.has_next %}
                                    <a class="pagination-action"
                                       href="?page={{ tasks.next_page_number }}">
                                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                                    </a>
                                    <a class="pagination-action"
                                       href="?page={{ tasks.paginator.num_pages }}">
                                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                    </a>
                                    {% endif %}
                            </div>
			        </div>
		        </div>
            </div>
        </div>
    </section>


{% endblock %}