{% extends "admin/base.html" %}
{% block content %}
<!--<div class="contact py-5">-->
<!--    <div class="container py-xl-5 py-lg-3">-->
<!--        <h3 class="tittle mb-xl-5 mb-4 text-dark text-center">-->
<!--            <span class="text-uppercase">Agro Task</span>View Farmers</h3>-->
<!--        <div class="row contact_wthreerow agileits-w3layouts pt-4">-->
<!--            <div class="col-md-12 w3l_contact_form">-->
<!--                <h4 class="font-italic mb-4">Farmer Master</h4>-->
<!--                <div class="table-responsive">-->
<!--                    <table class="table table-agile-info">-->
<!--                        <thead>-->
<!--                        <tr>-->
<!--                            <th>Name</th>-->
<!--                            <th>Mobile</th>-->
<!--                            <th>Address</th>-->
<!--                        </tr>-->
<!--                        </thead>-->
<!--                        <tbody>-->
<!--                        {% for farmer in farmers %}-->
<!--                        <tr>-->
<!--                            <td>{{ farmer.name }}</td>-->
<!--                            <td>{{ farmer.mobile }}</td>-->
<!--                            <td>{{ farmer.address }}</td>-->
<!--                        </tr>-->
<!--                        {% endfor %}-->
<!--                        </tbody>-->
<!--                    </table>-->
<!--                    <div>-->
<!--                        <div class="pagination">-->
<!--                            {% if farmers.has_previous %}-->
<!--                            <a class="pagination-action" href="?page=1">-->
<!--                                <i class="fa fa-angle-double-left" aria-hidden="true"></i>-->
<!--                            </a>-->
<!--                            <a class="pagination-action"-->
<!--                               href="?page={{ farmers.previous_page_number }}">-->
<!--                                <i class="fa fa-angle-left" aria-hidden="true"></i>-->
<!--                            </a>-->
<!--                            {% endif %}-->

<!--                            {% for num in farmers.paginator.page_range %}-->

<!--                            {% if farmers.number == num %}-->
<!--                            <span class="pagination-number pagination-current">{{ num }}</span>-->
<!--                            {% elif num > farmers.number|add:'-3' and num < farmers.number|add:'3' %}-->
<!--                            <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>-->
<!--                            {% endif %}-->

<!--                            {% endfor %}-->

<!--                            {% if farmers.has_next %}-->
<!--                            <a class="pagination-action"-->
<!--                               href="?page={{ farmers.next_page_number }}">-->
<!--                                <i class="fa fa-angle-right" aria-hidden="true"></i>-->
<!--                            </a>-->
<!--                            <a class="pagination-action"-->
<!--                               href="?page={{ farmers.paginator.num_pages }}">-->
<!--                                <i class="fa fa-angle-double-right" aria-hidden="true"></i>-->
<!--                            </a>-->
<!--                            {% endif %}-->


<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


	<section class="h-100 bg-dark">
		<div class="container py-5 h-100" >
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col">
					<div class="card card-registration my-4">
<!--						<img src="static/images/Login.png" height="100" class="rounded mx-auto d-block" alt="...">-->
						<div class="container" style="background-color: #fffee0">
                            <div class="container py-5 h-100" >
                                <div class="row justify-content-center">
                                    <h1>View Farmers</h1>
                                </div>
                            </div>


                            <div class="table-responsive">
                                <table class="table table-agile-info">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Mobile</th>
                                        <th>Address</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for farmer in farmers %}
                                    <tr>
                                        <td>{{ farmer.name }}</td>
                                        <td>{{ farmer.mobile }}</td>
                                        <td>{{ farmer.address }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <div>
                                    <div class="pagination">
                                        {% if farmers.has_previous %}
                                        <a class="pagination-action" href="?page=1">
                                            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                        </a>
                                        <a class="pagination-action"
                                           href="?page={{ farmers.previous_page_number }}">
                                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                                        </a>
                                        {% endif %}

                                        {% for num in farmers.paginator.page_range %}

                                        {% if farmers.number == num %}
                                        <span class="pagination-number pagination-current">{{ num }}</span>
                                        {% elif num > farmers.number|add:'-3' and num < farmers.number|add:'3' %}
                                        <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>
                                        {% endif %}

                                        {% endfor %}

                                        {% if farmers.has_next %}
                                        <a class="pagination-action"
                                           href="?page={{ farmers.next_page_number }}">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </a>
                                        <a class="pagination-action"
                                           href="?page={{ farmers.paginator.num_pages }}">
                                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                        </a>
                                        {% endif %}


                                    </div>
                                </div>
					    </div>
			        </div>
		        </div>
            </div>
        </div>
    </section>



{% endblock %}